#titles {
    font-size:xx-large;
    font-family:'Gill Sans';
    font-weight:500;
    color:rgb(54, 31, 31);
}
body {
    background-image: url(images/pretty-clouds.avif);
}
.menu {
    font-size: xx-large;
    font-family:'Gill Sans';
    width: 70%;
    background-color: rgb(255, 230, 235);
    margin-left: auto;
    margin-right: auto;
  }
.selection {
    flex-direction:row;
}